/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles */
body {
  font-family: 'Audiowide', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: silver;
  text-shadow: 0 0 1px silver;
}

.title {
  margin-top: 5vh;
  text-align: center;
}

.main-text {
  margin: 5vh 10vw 10vh;
  line-height: 3;
  text-align: justify;
}